<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{% static 'main.css' %}">
    <style type="text/css"> 
        a { text-decoration:none ; color:white },
        p{font-family: "{% static "font/NanumSquareRoundB.ttf"%}";},
        p{font-family: "{% static "font/NanumSquareRoundL.ttf"%}";},
        p{font-family: "{% static "font/NanumSquareL.ttf"%}";},
        p{font-family: "{% static "font/NanumSquareB.ttf"%}";},
        p{font-family: "{% static "font/NanumSquareRoundB.ttf"%}";}
    </style>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head_1">
            <img class="title" src="static/img/header.jpg">
            <div class="head_1_text1">위기경보 심각</div> 
            <div class='head_1_text2'>코로나바이러스감염증-19</div>
            <img class="title_right" src="static/img/X.png">
        </div>
        <div class="head_2">
            <div class="name">DOYA</div>
            <div class="search_bar">
                <div class="head_2_text">
                    <img class="login_img" src="static/img/login.PNG">
                    <a class="login" href='{% url 'login' %}'>Log in</a> <a class="join" href='{% url 'signin' %}'>Join</a>
                </div>
                <div><a href='{% url 'search' %}'><img class="search_img" src="static/img/search.PNG"></a></div>
                <div><img class="menu_img" src="static/img/menu.PNG"></div>
            </div>
        </div>
    </header>
  
    <nav class="menubar">
        <ul>
            <li><a href='{% url 'post' %}'>모집중</a></li>
            <li><a>봉사후기</a></li>
            <li><a>같이모집</a></li>
        </ul>
        <div class="right_box">
            <div class="right_m">+ 제안하기</div>   
        </div>
    </nav>

    <contain>
        <section>
            <article>
                <div><div><img class="main_img" src="static/img/main01.jpg"></div></div>
            </article>
        </section>

        <section>
            <header>
                <div class="main_box1">
                    <h2 class="main_text1">모집중인</h2>
                    <div class="main_text2"><p>모든 것은 바뀔 수 있다. 그리고,</p></div>
                    <div class="main_text3"><p>나 역시도 무엇인가를 바꿀 수 있다.</p></div>
                    <div class="main_box1_container">
                        <img class="child" src="static/img/m01.jpg">
                        <img class="child" src="static/img/m02.jpg">
                        <img class="child" src="static/img/m03.jpg">
                    </div>
                    <div class="main_box1_container">
                        <img class="child" src="static/img/m04.jpg">
                        <img class="child" src="static/img/m05.jpg">
                        <img class="child" src="static/img/m06.jpg">
                    </div>  
                </div>
            </header>
        </section>

        <section>
            <header>
                <div class="main_box2">
                    <h2 class="main_text1">지나간</h2>
                    <div class="main_text2"><p>돌이켜 생각해보니, </p></div>
                    <div class="main_text3"><p>아름다웠던 사랑이었더랬다.</p></div>
                    <div class="main_box1_container">
                        <img class="child" src="static/img/p01.jpg">
                        <img class="child" src="static/img/p02.jpg">
                        <img class="child" src="static/img/p03.jpg">
                    </div>
                    <div class="main_box1_container">
                        <img class="child" src="static/img/p04.jpg">
                        <img class="child" src="static/img/p05.jpg">
                        <img class="child" src="static/img/p06.jpg">
                </div>
            </header>
        </section>

        <section>
            <div class = "pink_box">
                <div class="pink_box_top">
                    <div class= "pink_box_top_h2">DOYA IMPACT</div>
                </div>

                <div class="pink_box_bot">
                    <div class="pink_box_bot_3box">
                        <div class="pink_box_text">
                            <div><img class="pink" src="static/img/watch.png">608</div>
                            <div class="p_text">Week</div>
                        </div>
                    </div>
                    <div class="pink_box_bot_3box">
                        <div class="pink_box_text">
                            <div><img class="pink" src="static/img/team.png">35</div>
                            <div class="p_text">Team</div>
                        </div>
                    </div>
                    <div class="pink_box_bot_3box">
                        <div class="pink_box_text">
                            <div><img class="pink" src="static/img/superhuman.png">154</div>
                            <div class="p_text">SuperHuman</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero_box">
                <div class="hero_box_text">
                    <div class="hero_box_text1">
                        <p class="hero_box_text1_p1">덕분에</p>
                        <p class="hero_box_text1_p2">영웅들</p>
                    </div>
                    <div class="hero_box_human">
                        <img class="hero_box_list" src="static/img/h01.jpg">
                        <img class="hero_box_list" src="static/img/h02.jpg">
                        <img class="hero_box_list" src="static/img/h03.jpg">
                        <img class="hero_box_list" src="static/img/h04.jpg">
                    </div>
                    <div class="hero_box_human">
                        <img class="hero_box_list" src="static/img/h05.jpg">
                        <img class="hero_box_list" src="static/img/h06.jpg">
                        <img class="hero_box_list" src="static/img/h07.jpg">
                        <img class="hero_box_list" src="static/img/h08.jpg">
                    </div>
                    <div class="hero_box_human">
                        <img class="hero_box_list" src="static/img/h09.jpg">
                        <img class="hero_box_list" src="static/img/h10.jpg">
                        <img class="hero_box_list" src="static/img/h11.jpg">
                        <img class="hero_box_list" src="static/img/h12.jpg">
                    </div>
                    <div class="hero_box_human">
                        <img class="hero_box_list" src="static/img/h13.jpg">
                        <img class="hero_box_list" src="static/img/h14.jpg">
                        <img class="hero_box_list" src="static/img/h15.jpg">
                        <img class="hero_box_list" src="static/img/h16.jpg">
                    </div>
                </div>
            </div>
        </section>
    </contain>

    <section>
        <article>
            <div class="company_info">
                <h1 class="company_name">DOYA (두시에야식)</h1>
                <div class="company_text"><p>DOYA(DO it from of Young Attitude)는 '젊은 마음가짐의 밑바닥에서부터 실행하자'라는 뜻으로,</p></div>
                <div class="company_text"><p>#젊음 #열정 #시너지를 통해 #배움 #사회혁신 #선한영향력을 실행하고자, 비대면 자원봉사 모집 공고를 취합한 후</p></div>
                <div class="company_text"><p>봉사자가 자발적으로 참여할 수 있도록 #인공지능 #AI #기술들을 활용하고 있습니다.</p></div>
                <div class="company_click">회사소개 페이지</div>
            </div>
        </article>
    </section>

    <section>
        <article>
            <div class="company_ment">
                <h1 class="company_ment_text">두야의 가치는 파트너사와 함께합니다.</h1>
                <img class="partner_list" src="static/img/partner01.jpg">
            </div>
        </article>
    </section>         
</body>
</html>