<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css"> 
        a { text-decoration:none ; color:black}
    </style>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head_1">
            <div class="head_1_text1">
                위기경보 심각
            </div> 
            <div class='head_1_text2'>
                코로나바이러스감염증-19
            </div> 
        </div>
        <div>
            <a href='{% url 'login' %}'>로그인</a> <a href='{% url 'signin' %}'>회원가입</a>
        </div>
        <div>
    </header>

    <contain>
        <div>
            <h2>{{ post_object.title }}</h2>
        </div>

        <div>
            <div>
                <h2>기본정보</h2>
            <div>
            <div>
                <ul>
                    <li>봉사지역 : {{ post_object.area }}</li>
                    <li>봉사주관지 : {{ post_object.affiliation }}</li>
                    <li>봉사유형 : {{ post_object.volunteer_type }}</li>
                    <li>봉사기간 : {{ post_object.term }}</li>
                    <li>모집인원 : {{ post_object.how_many }}</li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <h2>상세정보</h2>
            </div> 
            <div>
                <ul>
                    <li>활동내용</li>
                        <div>
                            <p name='memo1'>{{ post_object.memo1 }}</p>
                        </div>
                    <li>지원방법</li>
                        <div>
                            <p name='memo2'>{{ post_object.memo2 }}</p>
                        </div>
                    <li>링크</li>    
                        <div>
                            <a href={{ post_object.memo3 }}><p name='memo3'>링크클릭</p>
                        </div>
                </ul>
            </div>
        </div>
        
        <div>
            <div>
                <h2>담당자정보</h2>
            </div>
            <div>
                <ul>
                    <li>{{ post_object.name }}</li>
                    <li>{{ post_object.email }}</li>
                    <li>{{ post_object.phone_num }}</li>
                </ul>
            </div>
        </div>
    </contain> 
    <a href='{% url 'post' %}'>뒤로가기</a>
</body>
</html>